body {
	text-align: center;
}

td {
	border-style: solid;
	border-width: 1px;
	height: 20px;
	width: 20px;
	padding: 10px 10px 10px 10px;
}

tr {
	visibility: hidden;}

tr > .active {
	visibility: visible;
}

table {
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-radius: 0px;
	border-width: 2px;
}

#alert-text {
	font-size: 30px;
	
}