body {
	text-align: center;
}

tr {
	visibility: hidden;
}

tr > .active {
	visibility: visible;
}

table {
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-radius: 0px;
	border-width: 2px;
}