body {
	text-align: center;
}

td {
	border-style: solid;
	border-width: 1px;
	height: 20px;
	width: 20px;
	padding: 5px 5px 5px 5px;
}

tr {
	visibility: hidden;}

tr > .active {
	visibility: visible;
	background-color: black;
}

table {
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-radius: 0px;
	border-width: 2px;
	border-collapse: separate;
	border-spacing: 30px 30px;

}

#alert-text {
	font-size: 30px;
	
}